<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
</head>
<body>
<h1> Dados inválidos. Usuário não encontrado!</h1>
<div class="text-center p-t-136">
    <a class="txt2" href="cadastro">
        Criar conta
        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
    </a>
</div>
<div class="text-center p-t-136">

    <a class="txt3" href="/">
        <i class="fa fa-long-arrow-left m-l-5" aria-hidden="true"></i>
        Voltar para tela de login

    </a>
</div>
</body>
</html>